* {
    font-family: "Poppins", sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

/* --- CABEÇALHO --- */
.TituloSmart {
    color: white;
}
.TituloCafe {
    color: #b35f11;
}
.navegacao {
    display: flex;
    justify-content: flex-end;
}

/* --- INICIO --- */
.titulo-laranja{
    color: #C26B18;
    padding: 0px 0px 0px 40px;
    letter-spacing: 8px;
}
.titulo-conecta{
    font-size: 50px;
    padding: 0px 0px 0px 40px;
}
.subtitulo{
    padding: 0px 0px 0px 40px;
}
.inicio-cadapio{
    margin: 0px 0px 0px 40px;
}
.foto{
    display: flex
    justif
}

h2 {
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 5px;
}

ul{
    display: flex;
    gap: 23px;
    list-style: none;
    margin: 0;
    padding: 0;
}

article {
    background-color: white;
    margin: 10px;
    padding: 140px;
}



.centralizar{
    text-align: center;
}

button{
    background-color: #C26B18;
    color: white;
    width: 140px;
    height: 30px;
    border-color: white;
}

.banner-bege{
    background-color: #F0D4BF;
    padding: 10px;
}

.banner-pastel{
    background-color: #FEF5EE;
    padding: 10px;
}

.banner-marrom{
    background-color: #82684D;
    padding: 10px;
}

.banner-taupe{
    background-color: #A69279;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



